Validacion 1/liga.dtd


<!ELEMENT liga (jugador+)>
<!ELEMENT jugador (nombre, apellidos, edad, equipo)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT equipo (ciudad, presidente)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT presidente (nombrePresidente, apellidosPresidente)>
<!ELEMENT nombrePresidente (#PCDATA)>
<!ELEMENT apellidosPresidente (#PCDATA)>
